body{
    font-family: Arial, sans-serif;
    background-color: #999;
    margin: 10px;
    padding: 0px;
}
.main__container{
    background-color: white;
    border-radius: 10px;
    padding: 90px;
    width: 700px;
    margin: auto;
}
h1{
    text-align: center;
}
.form__calc{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    
}
label{
    font-weight: bold;
}
input, select{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #999;
}
button{
    padding: 5px;
    border-radius: 5px;
    background-color: #666;
    color: white;
    font-weight: bold;
}
.msg-error {
  color: red;
  margin-bottom: 10px;
  font-size: 11px;
}