/* first mobile - para fon */
.header {
    display: flex;
    flex-direction: column;
    background-color: black;
    margin-top: 10px;
    text-align: center;
}

.logo {
    text-align: center;
    margin: 10px auto 0 auto;
    padding: 0;
}

.logo img {
    max-width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.menu {
    margin-top: 30px;
}

.menu ul {
    margin: 0px;
    padding: 0px 20px;
    display: none; 
    flex-direction: column;
    gap: 0;
    list-style: none;
}

#menu-switch {
    display: none; /* Checkbox oculto */
}

.menu-mobile-label {   
    display: block; 
    margin: 0px 20px 5px;
    text-align: center;
    padding: 10px;
    border: 1px solid #474747;
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.menu #menu-switch:checked + ul {
    display: flex;
    /* background-color: blue; */
}

.menu li {
    list-style: none;
    margin-bottom: 5px;
    text-align: center;
    padding: 10px;
    border: 1px solid #474747;
    background-color: rgba(255, 255, 255, 0.1);
}

.menu a, .menu-mobile-label {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    opacity: 0.8;
    display: block;
}

#lenguaje__header a::after {
    content: ' ▼';
}

/* tablet - desde 768px en adelante */
@media (min-width: 768px) {
    .header {
        flex-direction: row;
        align-items: center;
        padding: 20px 20px;
        gap: 40px;
    }
    
    .logo {
        margin: 0px;
        text-align: left;
    }
    
    .logo img {
        max-width: 180px;
    }
    
    .menu {
        margin-left: auto;
        margin-right: 40px;
        margin-top: 0;
    }
    
    .menu-mobile-label {
        display: none; /* Ocultar botón de menú en tablet+ */
    }
    
    .menu ul {
        display: flex !important; /* Mostrar siempre en tablet+ */
        flex-direction: row;
        gap: 10px;
        padding: 10px 0px;
    }
    
    .menu li {
        border: none;
        background: none;
        margin-bottom: 0;
        padding: 0;
    }
    
    .menu span {
        display: inline;
        margin: 0 10px;
        color: #ffffff;
        opacity: 0.8;
    }
    
    #lenguaje__header {
        border: none;
        margin-top: 0;
        padding-top: 0;
        margin-left: 30px;
        /* border-left: 1px solid rgba(255, 255, 255, 0.3); */
        padding-left: 20px;
    }
}

/* desktop - a partir de 992px */
@media (min-width: 992px) {
    .header {
        display: flex;
        align-content: center;
        padding: 20px 15px;
    }
    
    .logo {
        padding: 20px 0px 20px;
        margin-left: 225px;
    }
    
    .logo img {
        max-width: auto;
        height: auto;
    }
    
    .menu {
        display: flex;
        align-items: center;
        margin-left: 145px;
        margin-right: 225px;
    }
    
    .menu ul {
        display: flex;
    list-style: none;
    margin: 0;
    padding: 0px 225px 0px 0px;
    gap: 20px;
    }
    
    .menu a {
        font-size: 17px;
    }
    
    #lenguaje__header {
        margin-left: 140px;
    }
    
    #lenguaje__header a {
        font-size: 17px;
    }
}