* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    max-width: 1200px;   
    margin: 0 auto;      
    padding: 0 80px; 
    background-color: lightcyan;    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}            

header {
    background-color: lightgray;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 34px;
    font-weight: bold;
    color: dimgray;
}

nav {
    font-size: 19px;
    color: dimgray;
    font-weight: bold;
}

.main-content {
    display: flex;
    gap: 10px;
}
.gallery {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.gallery-row {
    display: flex;
    gap: 30px;
}

.gallery-item {
    flex: 1;
    background-color: lightgray;
    height: 100px;
    border: 2px solid darkgray;
}


.boxes-section {
    display: flex;
    gap: 10px;
}

.box {
    flex: 1;
    background-color: lightgray;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: dimgray;
    min-height: 150px;
}
footer {
    background-color: lightgray;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: dimgray;
}