* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    max-width: 500px;   
    margin: 0 auto;      
    padding: 0 80px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

div:first-child {
    text-align: center;
}

img {
    display: block;
    margin: 0 auto 20px auto;
    width: 120px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}
input {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 15px;
}
button {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    background-color: blue;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
p {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: darkgray;
}
a {
    color: blue;
    text-decoration: none;
}