.features{
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    margin-top: 30px;
    gap: 30px;
    padding: 0px 10px;
}
.features__item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.features__item__title{
    font-family: 'Bebas', sans-serif;
    font-size: 18px;
    color: #464646;
    /* overflow: hidden; */
    margin-top: 15px;
    margin-bottom: 10px;
}

.features__item p{
    font-family: 'HelveticaNeue', sans-serif;
    font-size: 12px;
    margin-bottom: 10px;
}

.features__item__middle{
    margin: 0px;
}

.feature__icon{
    color: #9A9A9A;
    float: left;
    /* margin-right: 35px; */
    font-size: 38px;
    margin: 0 auto 0px auto;
    /* display: block; */
}


.features__item a{
    color: #474747;
    font-family: 'Bebas',sans-serif;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    align-self: flex-start;
}

.features__item a i{
    margin-right: 10px;
    display: inline-block;
}
/*Medida para tabletas*/
@media (min-width: 768px) {
    .features{
        flex-direction: row;
        gap: 20px;
        margin-top: 50px;
        justify-content: space-between;
    }
    
    .features__item{
        flex: 1;
        text-align: left;
    }
    
    .features__item__title{
        font-size: 19px;
        margin-top: 0px;
    }
    
    .features__item__middle{
        margin: 0 20px;
    }
    
    .feature__icon{
        font-size: 40px;
        float: left;
        margin: 0 25px 0 0;
    }
}

/* Desktop*/
@media (min-width: 992px) {
    .features{
        margin-top: 70px;
        gap: 0;
    }
    
    .features__item__title{
        font-size: 20px;
    }
    
    .features__item__middle{
        margin: 0px 40px;
    }
    
    .feature__icon{
        font-size: 42px;
        margin-right: 35px;
    }
    
    .features__item a i{
        margin-right: 10px;
    }
}