
body{
    font-family: Arial, sans-serif;
    margin: 13px;
}
.data-table{
    margin-top: 20px;
}
td,
th {
  border-collapse: collapse;
  border: 1px solid #999;
  padding: 5px;
}
.msg-error {
  color: red;
  margin-bottom: 10px;
  font-size: 11px;
}
.form-group {
  margin-bottom: 10px;
}
.form-group input {
  border: 1px solid #999;
  padding: 5px;
}
.btn-save {
  border-width: 0px;
  background-color: #198754;
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}
.btn-delete {
  border-width: 0px;
  background-color: #dc3545;
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}
