.latest-work{
    margin-top: 70px;
    margin-bottom: 400px; /*Provisional*/
}

.latest-work__title{
    text-align: center;
    font-size: 18px;
    font-family: 'Bebas', sans-serif;
    color: #474747;
    background-image: url('img/title-bg.png');
    background-repeat: repeat-x;
}

.latest-work__title__text{
    background-color: #fff;
    padding: 0px 30px;
}